<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        New task
      </h1>
  
      <input #TitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task name...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-danger has-text-white is-medium" routerLink="/lists">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="createTask(TitleInput.value)">Create</button>
      </div>
  
      
    </div>
  </div>
